@page
@model Another_Great_Forum.Pages.Shared.CreateForumModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create Forum";
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="display-4">Create a forum!</h1>
    </div>


@if (SignInManager.IsSignedIn(User))
{
    <p>Du är inloggad som @User.Identity?.Name</p>
    <form method="post" enctype="multipart/form-data">
        <div>
            <div class="mb-3">
                <label asp-for="input.Title" class="form-label">Title</label>
                <input asp-for="input.Title" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="input.Body" class="form-label">Text</label>
                <textarea asp-for="input.Body" cols="30" rows="3" class="form-control"></textarea>

            </div>


            <div class="mb-3">
                <label asp-for="input.CategoryId" class="form-label">Category</label>

                @foreach(var category in Model.Categories)
                {
                    <li>
                        <select asp-for="input.CategoryId" class="form-control">
                            <option value="@category.Id"></option>
                            
                        </select>
          

                    </li>
                }


            </div>


            @* <div class="mb-3">
                <label asp-for="input.CategoryId" class="form-label">Category</label>
                <textarea asp-for="input.CategoryId" cols="30" rows="3" class="form-control"></textarea>
                <select asp-for="input.CategoryId" class="form-control">
                    <option value="">Select Tag</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Technology">Technology</option>
                    <option value="Code">Code</option>
                </select>
            </div> *@
         
            <div>
                <input type="submit" class="btn btn-success" value="Save Forum" />
            </div>

        </div>

    </form>
}
else
{
    <div class="alert alert-danger">Du är inte inloggad!</div>
}



    



