@page
@model Another_Great_Forum.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-5">Welcome to AnotherGreatForum!</h2>
    <div id="login-status" class="mt-3"></div>
    <br>
</div>

<div class="page-container">
    <div class="card-container"id="post"></div>
</div>


@section Scripts {
    <script>
        async function checkLogin() {
            try {
                const res = await fetch('https://localhost:7242/users/me', {
                    credentials: 'include'
                });
                const div = document.getElementById('login-status');

                if (res.ok) {
                    const data = await res.json();
                    div.innerHTML = `Welcome back ${data.name}!`;
                } else {
                    div.innerHTML = `You are not logged in.`;
                }
            } catch (err) {
                console.error(err);
                alert("Error, couldn't log in..");
            }
        }

        async function loadPosts() {
            try {
                const postsResponse = await fetch("https://localhost:7242/posts", { credentials: 'include' });
                const posts = await postsResponse.json();
                const container = document.getElementById("post");
                
                posts.forEach(post => {
                    container.innerHTML += `
                                <a href="Posts/PostDetails?id=${post.id}" class="card-link">
                                <div class = "card">
                                <h4 class="card-title">${post.title}</h4>
                                <p class="card-text">${post.body}</p>
                                <small class="card-date text-muted">${new Date(post.createdAt).toLocaleString()}</small>
                                </div>
                                </a>`;

                });

            } catch(err) {
                console.error(err);
                alert("Error! Couldn't load posts..");
            }
        }

        loadPosts();
        checkLogin();
    </script>
}
