@page
@model Another_Great_Forum.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <h1>Login</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" type="password" class="form-control" />
    
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
