@page "{id:int}"
@model Another_Great_Forum.Pages.PostDetailsModel
@{
    Layout = "_Layout";
}

<div class="page-container">
    <div id="post"></div>
    <a asp-page="Index">Back to home-page</a>
</div>

@inject IConfiguration Configuration
@section Scripts{
    <script>
        window.API_BASE_URL = "@Configuration["ApiSettings:BaseUrl"]";
        async function loadPostDetails(){
            const pathParts = window.location.pathname.split('/');
            const id = pathParts[pathParts.length - 1];
            try{
                const postResponse = await fetch(`${window.API_BASE_URL}/posts/${id}`, { credentials: 'include' })
                const post = await postResponse.json();
                const container = document.getElementById("post");


                    container.innerHTML += `
                                <div class="card">
                                <h2 class="card-title">${post.title}</h2>
                                <p class="card-text linebreak">${post.body}</p>
                                <p>${post.categoryName}<br>
                                  By:${post.authorName}
                                </p>
                                <small class="card-date text-muted">${new Date(post.createdAt).toLocaleString()}</small>
                                </div>`;
            }
            catch(err){
                console.error(err);
                alert("Error! Couldn't load post..");
            }
        }
        loadPostDetails();

    </script>
}