@page "{id:int}"
@model Another_Great_Forum.Pages.PostDetailsModel
@{
    ViewData["Title"] = "Post Details";
}
<h1>Post Details</h1>
<div id="post"></div>

@inject IConfiguration Configuration
@section Scripts{
    <script>
        window.API_BASE_URL = "@Configuration["ApiSettings:BaseUrl"]";
        async function loadPostDetails(){
            const pathParts = window.location.pathname.split('/');
            const id = pathParts[pathParts.length - 1];
            try{
                const postResponse = await fetch(`${window.API_BASE_URL}/posts/${id}`, { credentials: 'include' })
                const post = await postResponse.json();
                const container = document.getElementById("post");


                    container.innerHTML += `
                                <div class="post-container">
                                <h2>${post.title}</h2>
                                <p>${post.body}</p>
                                <p class="post-category"><strong>Category /</strong> ${post.categoryName}</p>
                                <small class="post-author text-muted">
                                Posted by: ${post.authorName}<br>
                                ${new Date(post.createdAt).toLocaleString()}</small>
                                </div>`;
            }
            catch(err){
                console.error(err);
                alert("Error! Couldn't load post..");
            }
        }
        loadPostDetails();

    </script>
}