html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar{
    background-color: dodgerblue;
    color: white;
}
.nav-item{
    border-radius: 5px;
}

.nav-item:hover{
     background-color: #1eb4ff;
}

.register-container {
    max-width: 400px;
    padding: 15px;
}

.page-container {
    border: solid 1px aliceblue;
    border-radius: 8px;
    padding: 50px;
    background-color: aliceblue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.card-container {
    max-width: 1200px;
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-height: 150px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    justify-content: center;
    overflow: hidden;
    
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.card-title{
    background-color: dodgerblue;
    color: white;
    margin: 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.card-text{
    padding:15px;
    flex: 1 1 auto;
}

